body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

:root {
  --black: #212121;
  --white: #ffffff;
  --grey: #757575;
  --blue: #2196f3;
  --black-grey: #2f303a;
  --presentation-set: 30px;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*-------------------header-------------------*/

.active {
  color: var(--blue);
}
.text-portfolio2 {
  color: var(--blue);
}

.icon-right {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-header:hover .icon-right,
.mail-header:focus .icon-right {
  fill: var(--blue);
}

.mail-header:hover,
.mail-header:focus {
  color: var(--blue);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  border-bottom: 1px solid #ececec;
}

.text-studio {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--blue);
  text-decoration: none;
  position: relative;
}

.text-studio::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue);
}

.web-studio {
  display: block;
  padding-top: 25px;
  padding-bottom: 24px;
  margin-right: 93px;
  font-family: "Releway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
  text-decoration: none;
}
.text-studio-page-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--black);
  text-decoration: none;
}
.text-studio-page-2:hover {
  color: var(--blue);
}
.text-studio-page-2:focus {
  color: var(--blue);
}
.web {
  color: var(--blue);
}
.site-nav {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.link-studio {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
}
.link-studio:hover {
  color: var(--blue);
}
.link-studio:focus {
  color: var(--blue);
}

.link-studio::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  border-radius: 2px;
  border-color: var(--blue);
}

::after,
::before {
  box-sizing: border-box;
}

.text-portfolio2::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue);
}

.text-portfolio {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-portfolio2 {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-portfolio2:focus {
  color: var(--blue);
}
.text-portfolio2 {
  color: var(--blue);
}
.text-portfolio2 .text-portfolio:hover {
  color: var(--blue);
}
.text-portfolio:focus {
  color: var(--blue);
}
.text-portfolio2 {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--black);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-portfolio2:hover {
  color: var(--blue);
}
.text-portfolio2:focus {
  color: var(--blue);
}
.contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover {
  color: var(--blue);
}
.contacts:focus {
  color: var(--blue);
}
.contacts-header {
  display: flex;
  align-items: center;
  margin: auto;
}
.contacts-header.item:last-child {
  margin-right: 0;
}
.mail-header {
  padding-right: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-header:hover .icon-right {
  color: var(--blue);
}
.mail-header:focus .icon-right {
  color: var(--blue);
}
.tel-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--grey);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-header:hover .icon-right,
.tel-header:focus .icon-right {
  fill: var(--blue);
}

.tel-header:hover,
.tel-header:focus {
  color: var(--blue);
}

/* -------------------page-1------------------- */

/* -------------------banner------------------- */

.banner {
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  display: block;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/banner-img.jpg");
}
.banner-text {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

.window-form {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.modal-text {
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.label-text {
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  /* padding-bottom: 10px; */
  margin-top: 10px;
}

.input {
  display: flex;
  flex-direction: column;
}

.coment-text {
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  /* padding-bottom: 4px; */
  margin-top: 10px;
}

.input-form {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border: solid 1px rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:hover {
  border-color: var(--blue);
}

.input-form:focus {
  border-color: var(--blue);
}

.input-form:hover + .icon-form,
.input-form:focus + .icon-form {
  /* border-color: solid 1px var(--blue); */
  border-color: var(--blue);
  border: none;
  fill: var(--blue);
}

.icons-form {
  display: block;
  position: relative;
}

.icon-form {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-condition {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 12);
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.title-link {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 12);
  letter-spacing: 0.03em;
}

.area-input {
  width: 100%;
  height: 120px;
  border: solid 1px rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  display: block;
  padding-left: 16px;
  padding-top: 12px;
  margin-top: 4px;
  margin-bottom: 20px;
}

.area-input:hover {
  border-color: var(--blue);
}

/* .textarea {
  resize: none;
} */

.placeholder-text {
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  /* display: block;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px; */
}

.placeholder-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.text-condition {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 13px;
}

.link-condition {
  color: var(--blue);
  margin-left: 3px;
}

.text-condition {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-label {
  width: 15px;
  height: 16px;
  border: solid 2px #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-modal:checked + .text-condition .check-label {
  background-color: #2196f3;
  border: none;
}

.btn-submit {
  background-color: var(--blue);
  width: 200px;
  height: 50px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
}
/* /banner */

/* -------------------features------------------- */

.section .btn-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.inner-content {
  background: #f5f4fa;
}

.icon-features {
  width: 270px;
  height: 120px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.inner-occupation {
  position: relative;
}

.inner-text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.features {
  display: flex;
}
.text-features {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}
.description {
  font-style: normal;
  font-style: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin-top: 10px;
}
.description-item {
  margin-right: 30px;
  width: 270px;
}
.description-item:last-child {
  margin-right: 0;
}

.occupation {
  margin-bottom: 50px;
  margin-top: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
}
.item-occupation:last-child {
  margin-top: 0;
}
.img-occupation {
  display: block;
}
.occupation-inner {
  display: flex;
  margin-bottom: 94px;
}
.item-occupation {
  margin-right: 30px;
}
/* /features */

/* -------------------team------------------- */

.section.section-inner {
  padding-top: 0;
  background-color: #f5f4fa;
}

.team {
  background-color: var(--white);
  border-color: var(--black);
  border-width: 10px;
  border: var(--black);
  border-radius: 5px;
}
.inner-team {
  display: flex;
  justify-content: space-between;
}
.inner-team .team {
  margin-right: 30px;
  background-color: #ffff;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team:last-child {
  margin-right: 0;
}
.team-card {
  display: block;
}

.social-set {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.item-socials {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-social {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.item-social:last-child {
  margin-right: 0;
}

.social-link {
  /* width: 44px; */
  /* height: 44px; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--blue);
}

.social-link:hover .item-socials,
.social-link:focus .item-socials {
  fill: var(--white);
}

/* -----------Clients----------- */

.clients {
  display: flex;
}

.item-clients {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.link-company {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition-property: border-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-company {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-company:hover,
.link-company:focus {
  border: solid 1px #2196f3;
}

.link-company:hover,
.link-company:focus {
  fill: border solid 1px #2196f3;
}

.link-company:hover .icon-company,
.link-company:focus .icon-company {
  fill: #2196f3;
}

.item-clients:last-child {
  margin-right: 0;
}

.customers {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 94px;
}

.our-team {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-top: 94px;
}
.developers-name {
  margin-bottom: 10px;
  padding-top: 30px;
  width: 270px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
}
.position {
  padding-top: 10px;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey);
}
/* /team */

/* /page-1 */

/* -------------------footer------------------- */

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.form-footer {
  margin-top: 20px;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 20px;
  margin-left: 93px;
}

.placeholder-footer {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.placeholder-footer::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe {
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  border: transparent;
  border-radius: 4px;
  color: var(--white);
  margin-left: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
  position: relative;
}

.title-mail-footer {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  align-items: baseline;
  padding-left: 93px;
}

.icon-footer {
  fill: var(--white);
  position: absolute;
  top: 13px;
  right: 28px;
}

.footer {
  /* padding: 60px 0; */
  background: var(--black-grey);
}
.web-studio-footer {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white);
  text-decoration: none;
}

.inner-icons {
  margin-left: 70px;
}

.main-footer {
  display: flex;
  align-items: baseline;
}

.title-icons {
  font-weight: bold;
  font-style: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.inner-footer-social {
  display: flex;
}

.icon-social {
  fill: #ffff;
}

.item-footer-social {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.footer-social {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.footer-social:hover,
.footer-social:focus {
  background-color: var(--blue);
}

.item-footer-social:last-child {
  margin-right: 0;
}

.address {
  /* display: flex;
  flex-direction: column; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white);
}
.inner-address {
  /* margin-top: 20px; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white);
}
.mail-footer {
  display: block;
  margin-top: 9px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mail-footer:hover {
  color: var(--white);
}
.mail-footer:focus {
  color: var(--white);
}
.tel-footer {
  /* display: block;
  margin-top: 9px; */
  /* font-style: normal;
  font-weight: normal; */
  /* font-size: 14px; */
  /* line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6); */
  display: block;
  margin-top: 9px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.tel-footer:hover {
  color: var(--white);
}
.tel-footer:focus {
  color: var(--white);
}

/* -------------------page-2------------------- */

.text-portfolio-page-second {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--blue);
  text-decoration: none;
  position: relative;
}

.text-portfolio-page-second::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue);
}

.text-studio-page-second {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black);
  text-decoration: none;
}
.text-studio-page-second:hover {
  color: var(--blue);
}

/*-------------------buttons-------------------*/

.buttons-group {
  display: flex;
  margin-top: 94px;
  margin-bottom: 56px;
}
.btn-item {
  padding-left: 8px;
  justify-content: center;
}
.btn-item:last-child {
  margin-left: 0;
}
.button-all {
  font-family: "Roboto", sans-serif;
  margin-right: 8px;
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  border: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.button-all:hover {
  background: var(--blue);
  border-radius: 4px;
  color: var(--white);
}
.button-all:focus {
  color: var(--blue);
}
.buttons {
  font-family: "Roboto", sans-serif;
  margin-right: 8px;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  border: none;
}
.buttons:hover {
  color: var(--white);
  background: var(--blue);
  border-radius: 4px;
}
.buttons:focus {
  color: var(--blue);
}

/* -------------------CARD-PRESENTATION-------------------- */

.presentation {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--presentation-set));
  margin-top: calc(-1 * var(--presentation-set));
  /* padding-bottom: 94px; */
}

.img-style {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: block;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03;
  color: var(--white);
}

.presentation-item {
  flex-basis: calc(100% / var(--presentation-set));
  margin-left: var(--presentation-set);
  margin-top: var(--presentation-set);
}

/* .presentation-item:hover,
.presentation-item:focus {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */

.presentation-item:hover,
.presentation-item:focus {
  transform: translateY(0%);
}

.inner-text-present {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
}
.text-heading-presentation {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: var(--black);
}
.description-text-presentation {
  font-style: normal;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--grey);
  margin-top: 4px;
}
.link-presentation {
  text-decoration: none;
  width: 370px;
  display: block;
}

.link-presentation:hover .top-text,
.link-presentation:focus .top-text {
  transform: translateY(0%);
}

.link-presentation:hover,
.link-presentation:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-portfolio {
  display: block;
}

/* ---------------BTN---------------- */
.btn-text-banner {
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  color: var(--white);
  background: #2196f3;
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 10px 32px;
  border-color: transparent;
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-text-banner:hover,
.btn-text-banner:focus {
  background: #188ce8;
  color: var(--white);
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms linear, visibility 300ms;
}

.window-form {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.inner-win {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: unset;
  top: 8px;
  right: 8px;
  cursor: pointer;
  position: absolute;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inner-win:hover {
  border-color: var(--blue);
}

.inner-win:hover .close-win,
.inner-win:focus .close-win {
  fill: var(--blue);
}

.close-win {
  fill: var(--black);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-win:hover,
.close-win:focus {
  fill: var(--blue);
}

.is-hidden.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
